* {
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
  //border: 1px solid black;
}

.App {
  text-align: center;
}

#flex-components {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

h1 {
  text-align: left;
  margin-left: 30px;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#color-letters {
  color: #C853F5;
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 920px) {
  #flex-components {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  h1 {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
}