#flex-playlist {
    display: flex;
    flex-direction: column;
    background-color: #790AA4;
    color: white;
    width: 400px;
    height: 100px;
    padding: 20px;
    border-radius: 25px;
}

#playlist-name-input-style {

    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-button {
    background-image: url("./cancel-track.png");
    height: 30px;
    width: 30px;
    background-size: cover;
}

.playlist-track {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    #flex-playlist {
        width: 300px;
        height: 75px;
        padding: 0;
    }

    #flex-playlist h2 {
        font-size: 15px;
    }

    #playlist-name-input-style input {
        width: 125px;
        font-size: 10px;
    }

    button {
        font-size: 10px;
    }

    .cancel-button {
        width: 20px;
        height: 20px;
    }

}